@import url(<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">|Open+Sans:300,300i,400,400i&subset=latin-ext");

/*HEADER*/


header .header-banner {
    width: 100%;
    height: calc(100vh - 500px);
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

header h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
}


header h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
}

header p {
     font-family: "Open Sans", sans-serif;
    margin:15px;
    text-align:left;
    display: block;
    width: fit-content;
    padding: 1px 25px;
    overflow: auto;
}


header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center; /*IE*/
    width: fit-content;
    padding: 25px 25px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
    padding: 50px;
}

#img {
    text-align: top;
    float: right; 
    margin-right:100px; padding-left:50px;
}

@media only screen and (max-width: 950px) {
    
    #img{
        display:none;
    }
    
    header h1 a {
        font-size: 80px;
    }
    
    header h2 {
        font-size: 24px;
        margin-top: 20px;
    }
    
    header nav ul li {
        padding: 16px 42px;
    }
    
    
    header .header-banner {
         width: 100%;
    height: calc(100vh - 500px);
    }
    
    header p {
        text-align: left;
        font-size: 20px;
    }
}

/*MAIN - GALLERY*/


.gallery-h2 {
    font-family: "Gentium Basic", sans-serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 10px;
    color: #3a383d;
    text-transform: uppercase;
    text-align: center;
    
}

.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap; 
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
}

.gallery-image {
    -webkit-flex-basis: 300px; /*kuigi uuematel brauseri versioonidel peaks ka prefiksiteta töötama*/
    -moz-flex-basis: 300px;
    flex-basis: 300px;
    margin: 10px 90px;
    
    position: relative;
    text-align: center;

}


.gallery-image img {
    width: 100%;
    border-radius: 50%;
}

/*FOOTER*/

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 20px;
    background-color: #172029;
    overflow: hidden; 
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 0px;
}

footer ul li {
    display: block;
    padding: 0 0 10px 0;
}

footer ul li p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
}

footer ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
}

.disclaimer {
    display: none;
}

.footer-sm {
    width: 32px;
    float: right;
}

.footer-sm img {
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 950px) {
    
    .disclaimer {
        display: block;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase; 
        float: left;
        margin: 0 80px;
    }
    
    .disclaimer span {
        font-style: italic;
    }
}